<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_head.ejs') %>
    <%- include('styles/style1.ejs') %>
    <title>Split_Students_by_campus</title>
</head>
<body class="" style="height: 740px;">
    
    <section class="">
    
        <div class="flex-content-row w-100" style="overflow-y: scroll;">
            <section style="" class="" id="nav-section">
                <div class="card m-2 bg-light">
                    <a href="/" class="btn btn-success p-3" style="text-align: start;"><i style='font-size:24px' class='fas'>&#xf015;</i> 
                        <span class="ms-3">Home</span></a>
                </div>
                <div class="card m-2 bg-light">
                    <a href="/filter" class="btn btn-success p-3" style="text-align: start;"><i style='font-size:24px' class='fas'>&#xf518;</i> 
                        <span class="ms-3">View data</span></a>
                </div>
                <div class="card m-2 bg-light">
                    <a type="button" class="btn btn-success p-3" style="text-align: start;" onclick="settings()"><i style='font-size:24px' class='fas'>&#xf085;</i> 
                        <span class="ms-3">Settings</span></a>
                </div>
                <section >
                    <div class="card m-2 bg-light" id="showBtn">
                        <a type="button" class="btn btn-success p-3" style="text-align: start;" onclick="hideForm()"><i class="fa fa-toggle-off" aria-hidden="true"></i> 
                            <span class="ms-3">Show Form</span></a>
                    </div>

                    <div class="card m-2 bg-light" id="hideBtn" >
                        <a type="button" class="btn btn-success p-3" style="text-align: start;" onclick="hideForm()"><i class="fa fa-toggle-on" aria-hidden="true"></i> 
                            <span class="ms-3">Hide Form</span></a>
                    </div>
                </section>
                
            </section>
            
            <section class="home" id="home">
                <div class="shadow p-3 mb-3">
                    <p style="text-align: center;">Home</p>
                </div>
                <div class="p-2" style="height: 600px;">
                    <div class="card w-50" style="overflow: scroll;height: 300px;">
                        <h4 style="text-align: center;" data-bs-toggle="tooltip" title="click on file to download">Files created</h1>
                        <div class="all-files p-2 flex-content-row-sp" >
                            <div class="bg-success mb-1" style="width: fit-content; height: fit-content;">
                                <a href="#" style="text-decoration: none; color: white;">
                                    <img src="excel_img1.jpg" alt="excel_image" width="60px" height="60px">File 1</a>
                            </div>
                            <div class="bg-success mb-1" style="width: fit-content; height: fit-content;">
                                <a href="#" style="text-decoration: none; color: white;">
                                    <img src="excel_img1.jpg" alt="excel_image" width="60px" height="60px">File 2</a>
                            </div>
                            <div class="bg-success mb-1" style="width: fit-content; height: fit-content;">
                                <a href="#" style="text-decoration: none; color: white;">
                                    <img src="excel_img1.jpg" alt="excel_image" width="60px" height="60px">File 3</a>
                            </div>
                            <div class="bg-success mb-1" style="width: fit-content; height: fit-content;">
                                <a href="#" style="text-decoration: none; color: white;">
                                    <img src="excel_img1.jpg" alt="excel_image" width="60px" height="60px">File 4</a>
                            </div>
                            <div class="bg-success mb-1" style="width: fit-content; height: fit-content;">
                                <a href="#" style="text-decoration: none; color: white;">
                                    <img src="excel_img1.jpg" alt="excel_image" width="60px" height="60px">File 5</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
            <section class="" id="form">
                <%- include('formData.ejs') %>
            </section>
        </div>
        
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var alt_location = document.getElementById('save-locations');
        var email = document.getElementById('email');
        var path = document.getElementById('path');
        var myForm = document.getElementById('form');
        var myHome = document.getElementById('home');
        var form_visibility = true;

        alt_location.addEventListener('change', (event) => {
            // console.log(alt_location.value);
            if(alt_location.value === "Google Drive")
                email.style.display = 'block';

            if(alt_location.value === "File System")
                path.style.display = 'block';
        })

        email.addEventListener('change', (event) => {
            email.style.display = 'none';
        })
        path.addEventListener('change', (event) => {
            path.style.display = 'none';
        })

        function settings() {

            jQuery('#home').load(`/settings`);
        }

        function hideForm() {
 
            if(form_visibility) {
                form_visibility = false;

                // hide form
                myForm.style.display = 'none';
                myHome.style.transition = '.3s';
                myHome.style.width = "83%";

                // turn toggle off
                document.getElementById('showBtn').style.display = "flex";
                document.getElementById('hideBtn').style.display = "none";

            } else {
                form_visibility = true;

                // show form 
                showForm();

                // turn toggle on
                document.getElementById('showBtn').style.display = "none";
                document.getElementById('hideBtn').style.display = "flex";
            }
        }

        function showForm() {

            myHome.style.transition = '.3s';
            myHome.style.width = "50%";

            setTimeout(function() {
                myForm.style.width = "33%";
                myForm.style.display = 'block';
            }, 300);  
        }

    </script>
</body>
</html>