<section>
    <div class="shadow p-3 mb-3 text-white bg-success">
        <h5 style="text-align: center;">Settings</h5>
    </div>
    <div>
        <div class="border border-start-0 border-end-0 p-1">
            <p style="font-size: large;">Internet banking</p>
            <p style="font-size: medium;">Manage your internet banking access (switch on and off)</p>
        </div>
        <div class="border border-start-0 border-end-0 p-1">
            <p style="font-size: large;">Hide balance</p>
            <p style="font-size: medium;">Show or hide your account balances on the home screen</p>
        </div>
        <div class="border border-start-0 border-end-0 p-1" style="text-align: start;">
            <a class="btn btn-white border border-start-0 h-100 w-100" style="text-align: start;"><span class="">Update</span></a>
        </div>
        <div class="border border-start-0 border-end-0 p-4">

        </div>
        <div class="border border-start-0 border-end-0 p-4">

        </div>
    </div>
</section>
